@import url("https://fonts.googleapis.com/css?family=Anton|Charmonman|Cinzel:400,700,900|Montserrat:300,400,500,600,700,800i,900|Noticia+Text:400,700|Noto+Serif+TC:400,500,700|Old+Standard+TT:400,700|Playfair+Display:400,400i,700,700i,900|Roboto:300,400,500,700,900");

@import url("Components/container.css");
@import url("Components/avatar.css");
@import url("Components/button.css");
@import url("Components/banner.css");
@import url("Components/card.css");





body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18;
  margin: 0px;
  background-color: white;


}

h1,h2,h3{
  font-family: 'Playfair Display', serif;
}

h1{
  font-weight: 700;
  font-size:30;
}

a{
  text-decoration: none;

}
